build*/iconv/Debug
build*/iconv/Release
build*/iconv/x64/Debug
build*/iconv/x64/Release
build*/iconv-static/Debug
build*/iconv-static/Release
build*/iconv-static/x64/Debug
build*/iconv-static/x64/Release
build*/libiconv/Debug
build*/libiconv/Release
build*/libiconv/x64/Debug
build*/libiconv/x64/Release
build*/libiconv-static/Debug
build*/libiconv-static/Release
build*/libiconv-static/x64/Debug
build*/libiconv-static/x64/Release
build*/tests/*/Debug
build*/tests/*/Release
build*/tests/*/x64/Debug
build*/tests/*/x64/Release
