build*/Debug
build*/Release
build*/x64/Debug
build*/x64/Release
build*/Debug-static
build*/Release-static
build*/x64/Debug-static
build*/x64/Release-static
build*/*/Debug
build*/*/Release
build*/*/x64/Debug
build*/*/x64/Release
build*/tests/*/Debug
build*/tests/*/Release
build*/tests/*/x64/Debug
build*/tests/*/x64/Release
